{% extends 'office/layout.html.twig' %}
{% set title = user.username %}
{% if(is_granted('IS_AUTHENTICATED_FULLY')) %}
    {% if (app.user.id == user.id) %}
        {% set title = 'title.office' |trans %}
    {% endif %}
{% endif %}

{% block content %}
    <div class="user_info">
        <dl class="dl-horizontal">
            <dt>Имя: </dt>
            <dd>{{ user.username }}</dd>
            <dt>Email:</dt>
            <dd>{{ user.email }}</dd>
            <dt>Последний вход:</dt>
            <dd>{{ user.lastLogin|date }}</dd>
        </dl>
    </div>

{% endblock %}
