html,
body {
    height: 100%;
}
h1 {
    font-family: "Comic Sans MS", serif;
}
.post_body {
    min-height: 20em;
}
.post_content {
    margin: 2em auto;
    border-bottom: 1px solid #eee;
}
p {
    text-indent: 2em;
}
.admin_buttons_panel {
    padding-bottom: 1em;
    float: right;
}
.comment_buttons {
    float:right;
    margin: 0.3em;
}
.comment_form {
    padding-bottom: 1em;
}
.post_summary {
    padding: 0.5em 1em;
    margin-bottom: 1em;
    border-bottom: 1px dashed #999c99  ;
}
.buttons {
    padding-top: 1em;
    text-align: right;
}
.post_summary_header {
    padding-bottom: 1em;
    font-size: larger;
    font-family: "bookman old style",serif;
}
.post_publishedAt_time {
    color: #7c7f7c;
    font-size: x-small;
}
.post_info_panel {
    padding: 0.5em 0;
}
.postInfo_blocks {
    display: inline;
    margin: 0;
    padding: 0 0.8em 0 0;
}
.post_summary_content, .post_body {
    text-indent: 1em;
    font-family: "lucida console", serif;
}
.comments_list {
    margin: 1em auto;
    border-top: 1px solid #eee;
    padding: 1em;
}
.post_comment {
    padding: 0.5em 1em;
    background-color:rgba(254, 255, 203, 0.27) ;
    margin-bottom: 0.5em;
}
.post_comment p {
    margin: 0;
}
.header_post_info {
    font-size: x-small;
    float: left;
}
footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 5em;
    background: linear-gradient(to top, rgba(77, 79, 77, 0.27), white);
}
#content {
    padding-bottom: 7em;
}
div#wrapper {
    position: relative;
    min-height: 100%;
}
.tag {
    padding: 0.5em;
    margin-right: 0.5em;
}